.table-container {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  padding: 20px;
  border: 1px solid #ccc;
}

.table-container .header {
  font-weight: bold;
  border-bottom: 1px solid #ccc;
  padding: 8px;
}

.table-container div {
  padding: 8px;
  border-bottom: 1px solid #ccc;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.table-container div:last-child {
  display: flex;
  align-items: center;
}

.table-container span {
  margin-right: 5px;
}

.table-container button {
  background: none;
  border: none;
  cursor: pointer;
}

.password {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.password > span {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
