.table-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  border-radius: 10px;
  width: fit-content;
  /* min-width: 450px;
  max-width: 800px; */
}

.header {
  display: contents;
  font-weight: bold;
}

.Toastify__toast--success {
  background-color: #f9f9f9;
  color: #0e1111;
}

.Toastify__toast--error {
  background-color: #f9f9f9;
  color: #881a25;
}
